@model MovieBuzz.Models.Customer
@{ 
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.customerName</h2>

<ul>
    <li>Membership:@Model.MembershipType.MembershipName</li>
    @if(@Model.Birthday.HasValue)
    {
        <li>Birthday:@Model.Birthday.Value.ToShortDateString()</li>
    }
</ul>

