@model IEnumerable<MovieBuzz.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if(!Model.Any())
{
    <p>No Customers to display</p>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.customerName, "Detail", "Customer", new { id = customer.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
}


