@model IEnumerable<MovieBuzz.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<br />
<a class="btn btn-primary" href="/Customer/New" role="button">Add New Customer</a>
<br /><br />
@if(!Model.Any())
{
    <p>No Customers to display</p>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(customer.customerName, "Edit", "Customer", new { id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.MembershipName
            </td>
        </tr>
        }
    </tbody>
</table>
}


