@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Buzz</h1>
    <p class="lead">Movie Buzz is a Leading Movie Rental App.Sign up and enjoy your Fav Movie!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upcoming Movies</h2>
    </div>
</div>