@model IEnumerable<MovieBuzz.Models.Movies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if(!Model.Any())
{
    <p>No Movies to display</p>
}
else
{
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Movie Name
            </th>
            <th>
                Genre
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(@movie.movieName, "Detail", "Movie", new { id = movie.id }, null)
            </td>
            <td>
               @movie.Genre.GenreName
            </td>
        </tr>
        }
    </tbody>
</table>
}


